<h1>Edit Book</h1>
<form action="/books/<%= book.id  %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>
