<h1 class="page-header">Edit Book</h1>
<form action="/books/<%= book.id  %>?_method=PUT" method="POST">
    <%- include('_form_fields.ejs') %>
    <div class="form-row form-end btn-row">
      <a class="btn btn-danger" href="/books/<%= book.id  %>">Cancel</a>
      <button class="btn btn-primary" type="submit">Update</button>

    </div>
</form>
