<h2>Recent Activity</h2>
<div>
    <% books.forEach(book => { %>
    <img width="250px" height="250px" src="<%= book.coverImagePath %>" title="<%= book.name %> " alt="<%= book.name %> " />
    <% }) %>
  </div>
  