<h2 class="page-header">Recent Activity</h2>
<div>
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id  %>">
    <img
      width="250px"
      height="250px"
      src="<%= book.coverImagePath %>"
      title="<%= book.name %> "
      alt="<%= book.name %> "
    />
  </a>
  <% }) %>
</div>
