.form-row{
    display: flex;
    margin-bottom: 0.5rem ;

}
.form-item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}
.form-item:first-child{
    margin-left: 0;
}
.item-no-grow{
    flex-grow: 0;
}
.form-item > label{
    font-size: var(--form-label-font-size);
    margin-bottom: 0.2rem;
    margin-left:0.2rem;
}
.form-item input, .form-item select, .form-item textarea{
    height: 2rem;
    padding: 0.25rem 0.5rem;
    border-radius: var(--form-border-radius);
    border: 1px solid var(--color-form-border);
    background-color: var(--color-form-input-background);
    color: var(--color-form-text);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family);
    outline: none;
}
.form-item textarea{
    height: 100%;
    resize: none;
}
/* .form-item select option{
    background-color: black;
} */
.form-item input:focus, .form-item select:focus, .form-item textarea:focus{
    border-color: var(--color-form-border-focus);
}  
.filepond--root{
    font-family: var(--font-family);
    margin-bottom: 0;
}
.filepond--panel{
    background-color: var(--color-form-input-background);
    border: 1px solid var(--color-form-border);
}
.filepond--drop-label{
    color:var(--color-form-text);
    font-size: inherit;
}
.form-end{
    justify-content: flex-end;
}